<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>BASE_URL</key>
	<string>http://192.168.50.176:8080/</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Приложение подключается к медицинскому BLE-устройству и получает его показания.</string>
	<key>NSCameraUsageDescription</key>
	<string>Камера нужна для сканирования QR-кода BLE-устройства.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Приложение подключается к медицинскому BLE-устройству и получает его показания.</string>
</dict>
</plist>
